@import url('https://fonts.cdnfonts.com/css/gilda-display');
@import url('https://fonts.cdnfonts.com/css/inter');
p,h1,h2,h3,h4,h6{color:#4D4B44;font-family:Inter;}
body{position:relative;}
#ImageLyliaHaddadi{
position : absolute;
top:20px;
right:10px;
width:350px;
border-radius:300px;
transform: rotate(-25deg);
}

#LyliaHaddadi{
text-align:justify;
font-size:44px;
font-family:'Gilda Display';
margin-bottom:0px;
}

.header{
position : relative;
left:50px;
right:auto;
top:70px;
bottom:auto;
width:50%;
}

#description{
position:relative;
left:65px;
text-align:justify;
font-size:11;
transform:scale(1.2);
}

.Icone{
width:30px;
}


#IconeTel{
position:relative;
bottom:30px;
}

#NumTel{
position:relative;
top:10px;
bottom:auto;
left:35px;
right:auto;
}


#IconeLocation{
position:relative;
top:auto;
bottom:120px;
left:200px;
right:auto;
}

#Location{
position:relative;
top:auto;
bottom:75px;
left:230px;
right:auto;
}


#IconeEmail{
position:relative;
top:auto;
bottom:202px;
left:470px;
right:auto;
}

#Email{
position:relative;	
top:auto;
bottom:158px;
left:510px;
right:auto;
}

#hr1{
position:relative;	
top:auto;
bottom:50px;
left:auto;
right:auto;
 }
 
 .IconeCercle{
width:15px;
height:15px;
position:absolute;	
left:-26px;
top:30px
 }
 

 .LigneVerticale{
border: 1px solid #4D4B44;
height: 800px;
display:inline-block;
 }
 
 #LigneVerticale1{
 position:relative;
left:10px;
top:25px;
 }
 
 #LigneVerticale2{
 position:relative;
left:500px;
bottom:1708px;
 }
 
#ParcoursUniversitaire{
width:30%;
position:relative;
bottom:865px;
left:10px;
right:auto;
}

.ClasseParcoursUniversitaire{
width:30%;
position:relative;
bottom:864px;
left:30px;
right:auto;
}

.ClasseDiplome{
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-between;
align-items:flex-start;
align-content:stretch;
position:relative;
bottom:20px;
margin-bottom:-50px;
}

.Diplome{
position:relative;
top:auto;
bottom:50px;
left:auto;
right:auto;
}

.LieuParcoursUniversitaire{
position:relative;
top:auto;
bottom:25px;
left:auto;
right:auto;
color:#71474A;
}

#ExperiencesProfessionnelles{
width:30%;
position:relative;
top:auto;
bottom:2600px;
left:39%;
right:auto;
}


.ClassExperiencesProfessionnelles{
width:30%;
position:relative;
bottom:2615px;
left:41.2%;
right:auto;
top:auto;
}

.ClassEmploi{
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-between;
position:relative;
bottom:5px;
margin-bottom:-50px
}

.DesctiptionEmploi{
position:relative;
bottom:50px;
}

.LieuExperiencesProfessionnelles{
position:relative;
top:auto;
bottom:25px;
left:auto;
right:auto;
color:#71474A;
}

#RectangleRose{
width:25%;
height:1000px;
position:absolute;
top:415px;
left:75%;
filter:opacity(30%);
}

#DetailsPersonnels{
width:30%;
position:absolute;
top:415px;
left:77%;
}

.TitreInfomation{
color:#71474A;
}

.ClassDetailsPersonnels{
position:absolute;
top:490px;
left:77%;
}

.cordonnees{
margin-top:-30px;

}


.Information{
position:relative;
bottom:15px;
}


